<div class="form-wrapper">

  <form autocomplete="off" id="MyForm" class="content">

    <div><span class="text medium">What's your favorite</span></div>
    <div><span class="text medium mediaTypeEmoji" id="MediaType"></span></div>
    <a id="YourUrl" href="#" class="pink" style="font-family:Courier;margin-top:100px"></a>
    <div><input type="text" name="firstPlace" /></div>
    <div><input type="text" name="secondPlace" placeholder="Why?" /></div>
    <div><button type="submit" id="SubmitFormBtn">tell the internet</button></div>
    
  </form>


</div>

<script src="/assets/js/form.js"></script>