<div class="form-wrapper">

  <div class="split">

    <div class="left half">
      <span class="text medium">What are your favorites?</span>
      <span class="text large mediaTypeEmoji" id="MediaType"></span>
      <p id="StatusText">&nbsp;</p>
    </div>

    <form autocomplete="off" id="MyForm" class="right half bluee">
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
      <input type="text" name="firstPlace" />
      <input type="text" name="secondPlace" />
      <button type="submit" id="SubmitFormBtn">tell the internet</button>
      <span>
        
        <a id="YourUrl" href="#" class="pink" style="font-family:Courier"></a>
      </span>
      
    </form>

  </div>
</div>

<script src="/assets/js/form.js"></script>