.form-wrapper {
  .text {
    color: black;
  }
  .half {
    padding: 2rem;
  }
}

input[type="text"] {
  font-size: 3.2rem;
  letter-spacing: -2px;
  max-width: 100%;
  padding: 0.3rem 1rem;
  &:disabled {
    border: none;
    color: white;
    background: white;
  }
  max-width: 90vw;

  &::placeholder {
    color: #ccc;
  }
}

button[type="submit"] {
  background-color: $pink;
  padding: 16px 0;
  color: white;
  font-size: 3rem;
  border: none;
  font-weight: bold;
  width: 100%;
  max-width: 55vw;

  @include phone() {
    max-width: 90vw;
    font-size: 2rem;
  }
}

.form-wrapper {
  height: 100vh;
  @include phone() {
    height: 90vh;
  }
}

/* Common Styles */
.content {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  text-align: center;
  flex-direction: column;
  // justify-content: space-around;
  justify-content: flex-start;

  @include phone() {
    justify-content: flex-start;
  }
}

.content div {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  &:nth-child(1) {
    align-items: center;
  }

  @include phone() {
    height: 18vh;
  }

  // hack fix

}


