@import "mixins/device";


.quadrants {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;

  .quadrant {
    position: absolute;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex: 1;

    align-content: center;
    align-items: center;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &.top {
      top: 0;
    }
    &.bottom {
      bottom: 0;
    }

    .emoji {
      font-size: 9rem;
      line-height: 20rem;
      // background: red;
    }
  }
}





.text {
  // position: absolute;
  // left: 50%;
  // margin-left: -10rem;
  // text-align: center;
  // letter-spacing: -0.5rem;
  // width: 20rem;
  font-size: 10rem;
  font-weight: bold;
  color: white;
}


.title {
  color: $yellow;
  font-weight: bold;

  // left: 5vw;

  z-index: 200;
  text-align: center;
  font-size: 4rem;
  width: 100vw;
  position: absolute;
  top: 20vh;
}

@include phone() {

  .quadrants {
    height: 89vh;
    flex-direction: column;
  
    .quadrant {
      position: relative;
      width: 100vw;
      height: 25vh;
      display: flex;
      flex: 1;
  
      align-content: center;
      align-items: center;
  

    }
  }
}
