@import "mixins/device";

.quadrants {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;

  .quadrant {
    position: absolute;
    width: 50vw;
    max-width: 50%;
    height: 50vh;
    display: flex;
    flex: 1;

    align-content: center;
    align-items: center;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &.top {
      top: 0;
    }
    &.bottom {
      bottom: 0;
    }

    .emoji {
      font-size: 8rem;
      // line-height: 20rem;

    }
  }
}



@include phone() {
  .quadrants {
    height: 89vh;
    flex-direction: column;

    .quadrant {
      position: relative;
      width: 100vw;
      height: 25vh;
      display: flex;
      flex: 1;
      max-width: 100%;
      align-content: center;
      align-items: center;
      .heart {
        font-size: 6rem;
      }
      .clickable.emoji {
        font-size: 5rem;
      }
    }
  }
}

