@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
@import "mixins/fluid-type";
@import "mixins/media-queries";

@font-face {
  font-family: "Didot";
  src: url("../../assets/fonts/Didot Regular.ttf") format("truetype");
}

$serif: "Neuton";
$sans-serif: Verdana;

$thin: 200;
$normal: 400;
$bold: 700;

* {
  font-family: Arial;
}

.item {
  font-size: 6rem;
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.text {
  font-weight: bold;
  color: white;

  &.large {
    font-size: 10rem;
  }
  &.medium {
    font-size: 5rem;
  }
  &.small {
    font-size: 2rem;
  }
  &.center {
    text-align: center;
    width: 100%;
  }
}


@include phone() {
  .text {
    font-weight: bold;
    color: white;
  
    &.large {
      font-size: 10rem;
    }
    &.medium {
      font-size: 3rem;
    }
    &.small {
      font-size: 2rem;
    }
    &.center {
      text-align: center;
      width: 100%;
    }
  }
  
}
