// Styles that apply to this website only

.left,
.right,
body {
  &.yellow {
    background-color: $yellow;
  }
  &.purple {
    background-color: $purple;
  }
  &.red {
    background-color: $red;
  }
  &.blue {
    background-color: $blue;
  }
  &.pink {
    background-color: $pink;
  }
  &.white {
    background-color: white;
    * {
      color: black;
    }
  }
  &.blue {
    background-color: $blue;
  }
}

a, .text {
  &.yellow {
    color: $yellow;
  }
  &.purple {
    color: $purple;
  }
  &.red {
    color: $red;
  }
  &.blue {
    color: $blue;
  }
  &.pink {
    color: $pink;
  }
  &.white {
    color: white;
  }
  &.blue {
    color: $blue;
  }
}

::selection {
  background: #00000000; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ffb7b700; /* Gecko Browsers */
}
