// Styles that apply to this website only

body {
  background-color: orange;
}


.content.items {

  background-color: red;
}

.item {

  &:nth-child(1) {
    background-color: $purple;
  }
  &:nth-child(2) {
    background-color: $red;
  }
  &:nth-child(3) {
    background-color: $blue;
  }
  &:nth-child(4) {
    background-color: $pink;
  }
}