


/* SCSS HEX */
// $blue: #70d6ffff;
// $pink: #ff70a6ff;
// $salmon: #ff9770ff;
// $orange: #ffd670ff;
// $yellow: #e9ff70ff;


$blue: #4361EE;
$pink: #F72585;
$purple: #7209B7;
// $orange: #F86624;
$yellow: #FFCA3A;
$red: #EA3546;


// $purple: #662E9B;
// $light-blue: #43BCCD;

@import "base";
@import "layout";
@import "colors";

// @import "typography", "layout", "components";
// @import "links";

// @import "debug";