---
layout: quadrants
permalink: /$
meta:
  og:
    title: "I'm fixing the internet!"
    image: /assets/images/ralph.jpg
  twitter:
    title: I'm fixing the internet
    image: /assets/images/ralph.jpg
    card_style: summary

---


<!-- <span class="title" id="Title">the internet needs some love</span> -->

<div class="top left quadrant purple">
  {% include movie.html %}
</div>

<div class="top right quadrant blue">
  {% include user.html %}
</div>

<div class="bottom left quadrant yellow">
  {% include book.html %}
</div>

<div class="bottom right quadrant pink">
  {% include heart.html %}
</div>