<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


<div class="wrapper">
  <div class="content items">
    <div class="item favorite video-game">
      <span class="emoji">🎮</span>
      <span class="text">Goldeneye</span>
    </div>
    <div class="item favorite movie">
      <span class="emoji">🎬</span>
      <span class="text">Jurassic Park</span>
  </div>
    <div class="item favorite podcast">
        <span class="emoji">📻</span>
        <span class="text">improv4humans</span>
    </div>
    <div class="item favorite book">
      <span class="emoji">📖</span>
        <span class="text">Sapiens</span>
    </div>
  </div>

</div>


  </body>

</html>
